body {
  background: #130f40;
  color: white;
}

a,
button {
  transition: 0.3s all;
}

.App {
  max-width: 1100px;
  margin: 20px auto;
  padding: 0 25px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo h1 span {
  color: #686de0;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  padding: 5px 20px;
  display: block;
  color: #dff9fb;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

header nav a:hover,
.current-route {
  background: #686de0;
}

.navigation {
  display: flex;
}

.navigation .login {
  margin-left: 30px;
}

button,
.button {
  display: block;
  width: 150px;
  padding: 10px 30px;
  font-weight: bold;
  cursor: pointer;
  background: #6ab04c;
  color: white;
  border: none;
  font-size: 18px;
  margin: 0 auto;
  text-decoration: none;
}

button:hover,
.button:hover {
  background: #badc58;
}

.logout {
  background: #eb4d4b !important;
}

.logout:hover {
  background: #ff7979 !important;
}

main {
  background-color: #30336b;
  padding: 50px;
}

main h2 {
  text-align: center;
}

.friends-list li {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: #535c68 1px solid;
  align-items: center;
}

.friends-list .buttons button,
.friends-list .buttons .button {
  font-size: 14px;
  margin-bottom: 5px;
}

.friends-list li div {
  width: 40%;
}

.friends-list .buttons {
  width: 20%;
  display: flex;
}

form {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

form input {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 1px solid #95afc0;
  color: white;
}

form input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-style: italic;
}
